body, html {
    height: 100%;
    min-height: 100%;
    background: #78caff;
}
header {
    box-sizing: border-box;
    border-bottom: 10px;
    padding: 15px;
    background: #78caff;
    padding-left: 20px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
#nav {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 35PX;
    font-style: normal;
    text-decoration: none;
}
#nav ul {
    display: flex;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
#nav li{
    padding-left: 30px;
}
#nav a {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    text-decoration: none;
    font-size: 35px;
}
ul {
    list-style: none;
}
ul {
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}
main {
    padding: 3.5em;
    padding-left: 10%;
    padding-right: 10%;
}
h2 {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 100PX;
}
#introname {
    animation-name: fadeBounce;
    animation-duration: 1s;
    font-style: italic;
}
#h2about, #h2skills {
    font-style: normal;
}
main {
    display: flex;
    flex-direction: column;
}
#intro h4 {
    float: right;
    padding-top: 80px;
    padding-bottom: 25px;
    width: 800px;
    height: 0px;
    margin: 0px;
}
#intro h2 {
    float: right;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 800px;
    height: 0px;
    margin: 0px;
}    
#introt, #introb {
    color: black;
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
}
#about {
    display: flexbox;
    flex-direction: column;
    float: left;
    width: 100%;
}
#about img {
    position: block;
    top: 0px;
    right: 200px;
    float: right;
    width: 45vh;
    height: 45vh;
    border: none;
    margin: 0px 0px 0px 65px;
}
#about #dynamite {
    position: absolute;
    display: inline-block;
    float: right;
    width: 4vh;
    height: 4vh;
    border: none;
    top: 783px;
    right: 715px;
}
#h2about {
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
#skills {
    display: flexbox;
    flex-direction: row;
    float: left;
    width: 100%;
}
#h2skills {
    padding-top: 100px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
ol {
    --icon-space: 0.5em;
    list-style: none;
    padding: 0;
}
.material-symbols-outlined {
    padding-right: 15px;
}
li {
    margin-bottom: 0px;
}
ol {
    font-family: 'Golos Text', sans-serif;
    margin: 0px 5px 15px 0px;
}
p {
    font-family: 'Golos Text', sans-serif;
    margin: 15px 5px 15px 0px;
}
h3 {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 50PX;
    font-style: italic;
}
#links img {
    width: 6.5vh;
    height: 6.5vh;
    border: none;
}
#links {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 3.5em;
    top: 17.5vh;
}
.container {
    border: 2px dotted transparent;
}
.container {
    overflow: auto;
    text-align: center;
    padding: 0.1vh;
    margin-bottom: 3vh;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
footer img {
    width: 2vh;
    height: 2vh;
    border: none;
   }
footer img {
    padding-right: 12px;
}
#footer {
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    border-top: 2px;
    border-color: blue;
    border-width: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: dashed;
}
.navtext:hover {
    background-color: navy;
  }
.material-symbols-outlined:hover {
    background-color: antiquewhite;
}
#dynamite:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes fadeBounce {

    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    55% {
        transform: translateY(-6px);
    }
    70% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }